= simple_form_for [:admin, tpl] do |f|
  = f.input :name, :wrapper_html => {:class => 'name'}
  #editor
    = tpl.content
  =# f.input :content, :label => false
  %button{:type => 'submit'}
    Save this template