.templates
  %h3 Templates
  %p= link_to "Add a template", new_admin_template_path
  %table
    %tbody
      - @tpls.each do |t|
        %tr{:class => "template_#{t.id}"}
          %td= link_to t.name, edit_admin_template_path(t)
          %td= button_to "remove", admin_template_path(t), :method => "delete"