.templates
  %h3 Templates

  %table
    %tbody
      - @tpls.each do |t|
        %tr{:class => "template_#{t.id}"}
          %td= link_to t.name, edit_admin_template_path(t)
          %td
            - if t.pages.empty?
              = button_to "remove", admin_template_path(t), :method => "delete"