= simple_form_for [:admin, @tpl] do |f|
  = f.input :name, :wrapper_html => {:class => 'name'}
  = f.input :content, :label => false
  %button{:type => 'submit'}
    Save this template

/ = content_for :sidebar do
/   .templates
/     %ul
/       - @templates.each do |t|
/         %li= link_to t.name, edit_admin_template_path(t)