@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import "compass/css3";

$images_path: '/images';
$body_bg: #303030;
$crumbs_bg: lighten($body_bg, 3%);
$content_bg: $crumbs_bg;
$footer_bg: $body_bg;
$error_color: #903030;
$success_color: #6060ff;

/*@mixin gradient_bg($color, $top: 5, $bottom: $top) {
  @if $top < 0 and $bottom < 0 {
    $color1: darken($color, abs($top));
    $color2: lighten($color, abs($bottom));
    @include linear-gradient(color-stops($color1, $color2));
  } @else {
    $color1: lighten($color, abs($top));
    $color2: darken($color, abs($bottom));
    @include linear-gradient(color-stops($color1, $color2));
  }

  background-color: $color;
}*/

@mixin inset_top($bg_color) {
  border-top: 1px solid lighten($bg_color, 6%);
}

@mixin inset_bottom($bg_color) {
  border-bottom: 1px solid darken($bg_color, 5%);
}

@import "reset";
@import "base";
@import "layout";
@import "buttons";
@import "forms";

//////////////////////////////////////////////////

body {
  background: $body_bg;
  color: #fff;
  font-family: "Droid Sans", Helvetica, sans-serif;
}

a {
  color: #ccf;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

//////////////////////////////////////////////////

#flash {
  padding: 20px 20px 0 20px;

  .notice, .alert {
    color: #fff;
    padding: 2px 10px;
  }
  .notice { background: $success_color; }
  .alert { background: $error_color; }
}

.section {
  //background: url($images_path + '/inset-rule.png') repeat-x left bottom;
  //border-bottom: 1px solid #ddd;
  padding: 20px 30px;
}

.pages {
  .actions {
    float: right;
  }
}