$images_path: '/images';
$error_color: #903030;
$success_color: #6060ff;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import "reset";
@import "base";
@import "buttons";
@import "forms";
@import "compass/css3";

//////////////////////////////////////////////////

body {
  background: #303030;
  color: #fff;
  font-family: "Droid Sans", Helvetica, sans-serif;
}

a {
  color: #ccf;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

//////////////////////////////////////////////////

#flash {
  padding: 20px 20px 0 20px;

  .notice, .alert {
    color: #fff;
    padding: 2px 10px;
  }
  .notice { background: $success_color; }
  .alert { background: $error_color; }
}

.section {
  border-bottom: 1px solid #ddd;
  padding: 20px 30px;
}

.pages {
  .actions {
    float: right;
  }
}

//////////////////////////////////////////////////

#menu {
  background: #202020 url($images_path + '/inset-shadow-bottom.png') repeat-x left bottom;

  a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 35px;
    padding: 0 30px;
  }
  ul { margin: 0; }
  li {
    list-style: none;
    float: left;
    text-transform: upcase;
  }
  li.active {
    background: url($images_path + '/inset-shadow-left.png') repeat-y right top;
    border-left: 1px solid #3a3a3a;
    padding-right: 4px;

    a { background: #303030; }
  }
}

#content {
  #main {
    float: left;
    width: 70%;

    //#main_inner { padding: 20px 30px; }
  }

  #sidebar {
    float: right;
    width: 30%;

    #sidebar_inner { padding: 20px 30px; }
  }
}

#footer {
  padding: 20px 30px;
}